/* Стили для кнопки переключения темы */
.theme-toggle-button {
    background-color: var(--color-btn-primary);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.6s;
  }
  
  .theme-toggle-button .icon {
    position: absolute;
    transition: opacity 0.3s;
  }
  
  .theme-toggle-button .moon {
    opacity: 1;
  }
  
  .theme-toggle-button .sun {
    opacity: 0;
  }
  
  /* Стили для темной темы */
  [data-theme="dark"] .theme-toggle-button .moon {
    opacity: 0;
  }
  
  [data-theme="dark"] .theme-toggle-button .sun {
    opacity: 1;
  }
  